/* soft reset */

* {
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    padding: 30px 0;
    font-family: "inter", Arial, Helvetica, sans-serif;
    transition: background-color 0.5s ease;

}

.dark-body {
    background-color: #23252C;
    transition: background-color 0.5s ease;

}

.dark {
    background-color: #1A1B21;
    transition: background-color 0.5s ease;
    color: white;
}

.light {
    background-color: #f7f7f7;
    transition: background-color 0.5s ease;
    color: black;
}

#business-card {
    max-width: 500px;
    border-radius: 10px;
}

.profile-pic {
    width: 100%;
    border-radius: 10px 10px 0 0;
}


.prof-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name {
    margin: 15px 0 20px 0;
    font-weight: 700;
}

.title {
    color: #F3BF99;
    font-weight: 400;
    margin-bottom: 10px;
}


.btns-wrapper .btn {
    border: none;
    font-size: 18px;
    padding: 9px 20px;
    margin: 10px;
    border-radius: 5px;
}

.btns-wrapper .btn:nth-child(2) {
    background-color: #5093E2;
    color: white;
}


.btn-dark-wrapper {
    position: absolute;
    right: 15px;
    top: 10px;
}


.btn--dark_mode {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.about-wrapper, .interests-wrapper {
    max-width: 400px;
    margin: 0 auto;
}


.footer-wrapper {
    display: flex;
    justify-content: center;
    background-color: #161619;
    padding: 20px 50px;
    margin-top: 50px;
    border-radius: 0 0 10px 10px;
}

.footer-wrapper i {
    color: #918E9B;
    padding-left: 20px;
    font-size: 35px;
}



